# Ignore compiled files
*.class
*.o
*.pyc

# Ignore logs
*.log

# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

*env
.env.docker
.env*
.dockerignore
*venv/

task-definition-complete.json